{% extends 'base.html.twig' %}

{% block title %}Pricing - connexion{% endblock %}

{% block titlePage %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-4">Bienvenue</h3>
        <p class="lead">Cet outil a pour objectif de placer un produit face à la concurrence, <br>il utilise pour ça un algorithme respectant les exigences demandées.</p>
    </div>
{% endblock %}

{% block body %}

<form method="post" id="formConnexion">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectés en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <div id="divConnexion" class="flex flex-5">

        <h4 class="h4 mb-3 font-weight-normal text-center">Ouvrir une session</h4>

        <label for="inputEmail">Adresse e-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <br>
        <label for="inputPassword">Mot de passe</label>    
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <br>
        
        <div class="text-center">            
            <button class="btn btn-md btn-primary" type="submit" style="width: 33%">
                <div id="spanLoader" class="loader d-none"></div> Connexion                
            </button>
        </div>

    </div>

</form>
{% endblock %}

{% block javascripts %}
    <script>
        $('#formConnexion').on('submit', function() {                              
            $('#spanLoader').removeClass('d-none');            
        });
    </script>
    <style>
        .loader {
            border: 2px solid #f3f3f3; /* Light grey */
            border-top: 2px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 22px;
            height: 22px;
            animation: spin 2s linear infinite;
            float: left;
            position: relative;
            left: 18px;            
            margin-right: -20px;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        #divConnexion {
            padding: 20px 200px;
        }
    </style>
{% endblock %}
