{% extends 'base.html.twig' %}

{% block title %}Bienvenue - Pricing{% endblock %}

{% block stylesheets %}{% endblock %}

{% block titlePage %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-4">Bienvenue</h3>
        <p class="lead">Cet outil a pour objectif de placer un produit face à la concurrence, il utilise pour ça un algorithme respectant les exigences demandées.</p>
    </div>
{% endblock %}

{% block body %}
    
    <div class="card-deck mb-12 text-center">
    
        <div class="card mb-4 box-shadow ">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal"><i class="fas fa-rocket"></i> Derniers articles concurrencés</h5>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    {% if articlesVendeurs| length > 0 %}
                        {% set compteur = 1 %}
                        {% for articleVend in articlesVendeurs %}

                            {% set couleurBadge = '' %}
                    
                            {% if articleVend.etat.intitule == 'Etat moyen' %}
                                {% set couleurBadge = 'badge-default' %}        
                            {% elseif articleVend.etat.intitule == 'Bon état' %}
                                {% set couleurBadge = 'badge-warning' %}
                            {% elseif articleVend.etat.intitule == 'Très bon état' %}
                                {% set couleurBadge = 'badge-success' %}
                            {% elseif articleVend.etat.intitule == 'Comme neuf' %}        
                                {% set couleurBadge = 'badge-info' %}
                            {% elseif articleVend.etat.intitule == 'Neuf' %}        
                                {% set couleurBadge = 'badge-inverse' %}
                            {% endif %}

                            <li><b>{{ articleVend.article.libelle }}</b> positionné à <b>{{ articleVend.prix }} € </b> <span class="badge {{ couleurBadge }}">{{ articleVend.etat.intitule }}</span></li>
                            {% set compteur = compteur + 1 %}
                        {% endfor %}
                    {% else %}
                        <li>Aucun article concurrencé.</li>
                    {% endif %}
                </ul>
                <a type="button" id="bouttonAccueil" href="{{ path('articles_vendeur_list') }}" class="btn btn-lg btn-block btn-primary {% if articlesVendeurs| length == 0 %}disabled{% endif %}">
                    <i class="fas fa-list"></i> Tous les articles
                </a>
            </div>
        </div>

        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal"><i class="fas fa-users"></i> Derniers concurrents enregistrés</h5>
            </div>
            <div class="card-body">                
                <ul class="list-unstyled mt-3 mb-4">
                    {% if allConcurrents| length > 0 %}
                        {% set compteur = 1 %}
                        {% for concurrent in allConcurrents %}
                            <li><b>{{ concurrent.nom }}</b> - {{ concurrent.ville }}</li>
                            {% set compteur = compteur + 1 %}
                        {% endfor %}
                    {% else %}
                        <li>Aucun concurrent enregistré.</li>
                    {% endif %}
                </ul>
                <a type="button" id="bouttonConcurrents" href="{{ path('concurrents_list') }}" class="btn btn-lg btn-block btn-primary">
                    <i class="fas fa-list"></i> Tous les concurrents
                </a>
            </div>
        </div>

    </div>
        
{% endblock %}

{% block javascripts %}
    <style>
        #bouttonAccueil, #bouttonConcurrents {
            position: absolute;
            bottom: 15px;
            width: 92%;
        }

        .card-body {
            min-height: 250px;
        }
    </style>
{% endblock %}


