{% extends 'base.html.twig' %}

{% block title %}Articles concurrencés - Pricing{% endblock %}

{% block titlePage %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2><i class="fas fa-barcode"></i> Articles mis en concurrence</h2>
    </div>
{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 16px/1.5 sans-serif; }
    .badge { font-size: 15px }    
</style>

<div class="example-wrapper">    

    <!-- Modal Suppression prix -->
    <div class="modal fade" id="deleteLink" tabindex="-1" role="dialog" aria-labelledby="deleteLinkLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="deleteLinkLabel"><i class="fas fa-trash-alt poubelle"></i> Suppression</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form method="post" action="{{ path('articles_vendeur_delete') }}">
                        <input type="hidden" val="" id="idArticleVendeur" name="idArticleVendeur" />
                        Voulez-vous vraiment supprimer le prix de cet article ?
                        <div class="text-right mt-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Référence</th>
                <th>Libellé</th>
                <th>Etat</th>
                <th>Prix plancher</th>
                <th>Prix</th>
                <th>Action</h>
            </tr>
        </thead>
        <tbody>
            {% if articlesVendeurs| length > 0 %}
                {% set compteur = 1 %}
                {% for articleVend in articlesVendeurs %}

                    {% set couleurBadge = '' %}
                    
                    {% if articleVend.etat.intitule == 'Etat moyen' %}
                        {% set couleurBadge = 'badge-default' %}        
                    {% elseif articleVend.etat.intitule == 'Bon état' %}
                        {% set couleurBadge = 'badge-warning' %}
                    {% elseif articleVend.etat.intitule == 'Très bon état' %}
                        {% set couleurBadge = 'badge-success' %}
                    {% elseif articleVend.etat.intitule == 'Comme neuf' %}        
                        {% set couleurBadge = 'badge-info' %}
                    {% elseif articleVend.etat.intitule == 'Neuf' %}        
                        {% set couleurBadge = 'badge-inverse' %}
                    {% endif %}

                    <tr>
                        <th scope="row">{{ compteur }}</th>
                        <td>{{ articleVend.article.reference }}</td>
                        <td>{{ articleVend.article.libelle }}</td>
                        <td><span class="badge {{ couleurBadge }}">{{ articleVend.etat.intitule }}</span></td>
                        <td>{{ articleVend.plancher }} €</td>
                        <td><b>{{ articleVend.prix }} €</b></td>
                        <td>
                            <button href="#" type="button" data-id="{{ articleVend.id }}" data-toggle="modal" title="Supprimer" data-target="#deleteLink" class="delete-Link fas fa-trash-alt poubelle">                                 
                            </button>                            
                        </td>
                    </tr>
                    {% set compteur = compteur + 1 %}
                {% endfor %}    
            {% else %}
                <tr class="text-center">
                    <td colspan="3" class="pt-5">Aucune article concurrencé.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>


</div>
{% endblock %}

{% block javascripts %}
    
    <script>
        $('#deleteLink').on('show.bs.modal', function (e) {
            $("#idArticleVendeur").val($(e.relatedTarget).data('id'));
        });
    </script>
    
{% endblock %}
