<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>                

        <style>
            .badge-default { background-color: #ddd }
            .badge-inverse { background-color: #FC6AA8; color: whitesmoke }    
        </style>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        
        <!-- Menu Haut -->
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h3 class="my-0 mr-md-auto font-weight-normal" ><i class="fa fa-coin"></i> <a href="{{ path('index') }}" style="color: #000">Pricing</a></h3>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}                
                <a class="p-2 text-dark mr-2" href="{{ path('index') }}"><i class="fas fa-home"></i> Accueil</a>  
                
                <nav class="my-2 my-md-0 mr-md-3">                    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fas fa-barcode"></i> Articles
                        <b class="caret"></b>
                    </a>                    
                    <ul class="dropdown-menu p-2">                        
                        <a class="p-2 text-dark" href="{{ path('articles_vendeur_list') }}">Mis en concurrence</a> <br> 
                        <a class="p-2 text-dark" href="{{ path('articles_list') }}">Tous</a>                       
                    </ul>
                </nav>

                <nav class="my-2 my-md-0 mr-md-3">                    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fas fa-users"></i> Concurrents
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu p-2">                        
                        <a class="p-2 text-dark" href="{{ path('concurrents_list_etat_get', {'etat' : 1}) }}">Meilleurs offres</a> <br>
                        <a class="p-2 text-dark" href="{{ path('concurrents_list') }}">Tous</a>
                    </ul>
                </nav>

                <a class="btn btn-outline-danger" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a>
            {% else %}                
                <a class="btn btn-outline-success" href="{{ path('app_login') }}"><i class="fa fa-sign-in"></i> Connexion</a>
            {% endif %}
        </div>

        {% block titlePage %}{% endblock %}

        <div class="container">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fa fa-check"></i> {{ message |raw }}
                </div>
            {% endfor %}

            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fa fa-exclamation-triangle"></i> {{ message |raw }}
                </div>      
            {% endfor %}

            {% for message in app.flashes('error') %}                
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fa fa-times-circle"></i> {{ message |raw }}
                </div>
            {% endfor %}
            
            {% block body %}{% endblock %}            

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                
                <div class="col-12 col-md text-center">
                    Designed by 
                    <a href="https://www.bennaneweb.fr" target="_blank">
                        <h7>
                            Bennane Web
                        </h7>
                    </a>
                    <small class="d-block mb-3 text-muted">&copy; Septembre 2020</small>
                </div>

                <div class="col-6 col-md text-center">
                    <h5>BWV</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Sainte-luce-sur-loire</a></li>
                        <li><a class="text-muted" href="#">Tél : 07.60.71.57.58</a></li>
                        <li><a class="text-muted" href="mailto:bennaneweb44@gmail.com">Email : bennaneweb44@gmail.com</a></li>
                    </ul>
                </div>
                </div>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>

<style>
    
    a:hover {
        text-decoration: none;
    }
    
    .dropdown-toggle, .dropdown-toggle:hover {
        color: #000;
    }

    .poubelle, .crayon { 
        font-size: 15px;         
    }

    .poubelle {
        color: red;
        cursor: pointer;
        border: none;
    }

    .crayon {
        color: blue;
        cursor: pointer;
        border: none;
    }
    
    .poubelle:focus, .crayon:focus {        
        outline: none;
    }
    
</style>
